body {
    background-color: black;
    color:rgb(67, 68, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color:grey
}

h1 {
    color: grey;
    font-style: italic;
    font-family: 'Euphoria Script', cursive, Arial, Helvetica, sans-serif;
    font-size: 75px;
}

h2{
    color:grey;
    font-family: 'Euphoria Script', cursive, Arial, Helvetica, sans-serif;
}