*{
/*border:1px solid red;*/
margin:0;
line-height:1;
}

a{
    color:grey;
    text-decoration: none;
}

a:hover{
    color:rgb(24, 98, 24)
}

body {
    background-color: black;
    color:rgb(230, 235, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px;
}

main{
    text-align:center;
}

p{
    line-height: 2;
    margin-top:10px;
}

h1 {
    color: rgb(99, 98, 97);
    font-family: 'Euphoria Script', cursive, Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 200px;
    text-align:center;
    padding:50px;
}

header ul{
    text-align:center;
    border: 1px solid grey;
    height:20%;
    padding:20px;
    font-size: 20px;
    margin-top: 20px;
}

li{
    padding-left:100px;
    padding-right:100px;
}

h2{
    color:grey;
    font-family: 'Euphoria Script', cursive, Arial, Helvetica, sans-serif;
    font-size:50px;
    margin:100px;
}

div{
    margin: 0 auto;
}

#top{
    color:rgb(1, 52, 65);
    text-align:right;
    font-weight:bold;
    padding:30px;
}

.navigation{
    display:inline-block;
}

.container{
    max-width:1000px;
    margin:0 auto;
    background-size:100%;
}

.headingphoto{
    background-image: url(../Images/398021409_6708211069285748_32377131898192601_n.jpg);
    width:1400px;
    height: 300px;
    margin: 0 auto;
    background-repeat:no-repeat;
}

.banner{
    background-image: url(../Images/david-jorre-oQbLeq4nOek-unsplash.jpg);
    background-size: cover;
    background-position: center;
}