*{
/*border:1px solid red;*/
margin:0;
line-height:1;
}

a{
    color:grey;
    text-decoration: none;
}

a:hover{
    color:rgb(24, 98, 24)
}

body {
    background-color: black;
    color:rgb(67, 68, 69);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    Margin:50px;
}

main{
    text-align:center;
}

p{
    line-height: 2;
    margin-top:10px;
}

h1 {
    color: grey;
    font-family: 'Euphoria Script', cursive, Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size: 150px;
    text-align:center;
    padding:50px;
}

header ul{
    text-align:center;
    border: 1px solid grey;
    height:20%;
    padding:20px;
    font-size: 20px;
}

li{
    padding-left:100px;
    padding-right:100px;
}

h2{
    color:grey;
    font-family: 'Euphoria Script', cursive, Arial, Helvetica, sans-serif;
    font-size:50px;
    margin:100px;
}

#top{
    color:rgb(1, 52, 65);
    text-align:right;
    font-weight:bold;
    padding:30px;
}

.navigation{
    display:inline-block;
}